body{
    background : #192231;
}
.container-fluid .profile-card{
    width: 100% !important;
    min-height: 100%;
    padding: 30px;
    background: #192231;
    color: white !important;
    text-align: center;
    position: absolute;
    left: 0 !important;
}
.container-fluid .profile-card::before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
    transform: skew(2deg, 2deg);
    -webkit-transform: skew(2deg, 2deg);
    -moz-transform: skew(2deg, 2deg);
    -ms-transform: skew(2deg, 2deg);
    -o-transform: skew(2deg, 2deg);
}
.container-fluid .profile-card:nth-child(1)::before{
    background: linear-gradient(315deg, #ff0000, #f8511e);
}
.container-fluid .profile-card::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width:50%;
    height: 100%;
}
.profile-card .profile-pic{
    display: inline-block;
    width: 140px;
    height: 140px;
    margin-bottom: 50px;
    position: relative;
    z-index: 1;
    transition: all .9s ease 0s;
    -webkit-transition: all .9s ease 0s;
    -moz-transition: all .9s ease 0s;
    -ms-transition: all .9s ease 0s;
    -o-transition: all .9s ease 0s;
    overflow: hidden;
}
.profile-card .profile-pic::after{
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: orangered;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .9s ease 0s;
    -webkit-transition: all .9s ease 0s;
    -moz-transition: all .9s ease 0s;
    -ms-transition: all .9s ease 0s;
    -o-transition: all .9s ease 0s;
}
.profile-card .profile-pic img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: all .9s ease 0s;
    -webkit-transition: all .9s ease 0s;
    -moz-transition: all .9s ease 0s;
    -ms-transition: all .9s ease 0s;
    -o-transition: all .9s ease 0s;
}
.profile-card:hover .profile-pic img{
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
}
.profile-card .profile-content{
    margin-bottom: 30px;
}
.profile-card .title{
    font-size: 22px;
    font-weight: 700;
    z-index: 11;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-bottom: 5px;
}
.profile-card .description{
    display: block;
    font-size: 15px;
    text-transform: capitalize;
}
.profile-card .social li a{
    color: white !important;
    font-size: 20px;
    display: block;
    padding: 10px;
    transition: all .3s ease 0s;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -ms-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
}
.profile-card .social{
    width: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all .5s ease-in-out 0s;
    -webkit-transition: all .5s ease-in-out 0s;
    -moz-transition: all .5s ease-in-out 0s;
    -ms-transition: all .5s ease-in-out 0s;
    -o-transition: all .5s ease-in-out 0s;
}
.profile-card .social li{
    display: inline-block;
}

.profile-card hr{
    background: rgb(70, 68, 68);
}
.container-fluid .edit-card{
    width: 100%;
    height: 100%;
    padding: 30px;
    top: -30px;
    left: 0 !important;
    background: #192231;
    color: white !important;
    text-align: center;
    position: absolute;
}
.edit-card i{
    color: white !important;
}

.edit-card::before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
    transform: skew(2deg, 2deg);
    -webkit-transform: skew(2deg, 2deg);
    -moz-transform: skew(2deg, 2deg);
    -ms-transform: skew(2deg, 2deg);
    -o-transform: skew(2deg, 2deg);
}
.edit-card:nth-child(2)::before{
    background: linear-gradient(315deg, #ff0000, #f8511e) !important;
}
.input-group{
    top: 100px;
    position: absolute;
    width: 85%;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.input-field, .input-label{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    color: white;
}
.submit-btn{
    width: 100%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff1010,#c4531f);
    border: 0;
    outline: none;
    color: white;
}
.main-card{
    width: 100%;
    position: relative;
    height: 530px;
    margin: 6% auto;
    padding: 5px;
   
}
.main-card .edit, .view{
    cursor: pointer !important;
}

.input-label:hover{
    cursor: pointer;
}
#file{
    display: none;
}
#label_span{
    color: rgba(125, 128, 128, 0.9);
}