@import "../global_import.css";
html,
body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-family: 'Rokkitt', serif;
}

body {
    font-family: 'Rokkitt', serif;
    width: 100%;
    background: linear-gradient(to right, #131c29, #192231), url(../images/homepage-zombies-bg.jpg);
    background-blend-mode: screen;
    background-position: center 30%;
    background-attachment: fixed;
}

h1 {
    font-family: 'Audiowide', cursive;
}

.jumbotron.profile_intro {
    padding-top: 180px;
    background: transparent;
}

.jumbotron.profile_intro .intro {
    background: #192231;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.matches-table {
    background: linear-gradient(to right, rgb(31, 30, 30) 0%, rgb(255, 2, 2) 100%);
}

.matches-table table thead {
    background: linear-gradient(to right, black 5%, grey 95%);
    color: white;
    font-weight: 700;
}

.matches-table table thead tr {
    border-bottom: 2px solid white;
    text-transform: uppercase;
}

.matches-table table tbody tr {
    border-bottom: 2px solid white;
    text-transform: uppercase;
}

.matches-table table tbody td {
    text-transform: uppercase;
    font-size: 15px;
    vertical-align: middle;
    color: white;
    font-weight: 600;
}

.matches-table table tbody td img {
    width: 40px;
    height: 40px;
}

.matches-table table tbody td p {
    margin: 0;
    font-size: 13px;
    color: rgb(187, 182, 182);
}

.matches-table table i {
    font-size: 30px;
}

.matches-table a {
    color: white;
}

.matches-table a:hover {
    color: orangered;
}

.rank img {
    width: 60px !important;
    height: 60px !important;
}

@media (max-width: 768px) {
    h1 {
        font-size: 30px;
    }
}