@import "global_import.css";

/* ------------------------About Us Page-------------------- */

*,
html,
body {
    font-family: 'Rokkitt', serif;
    margin: 0;
    padding: 0;
    color: #fff;
}

h1,
h2 {
    font-family: 'Audiowide', cursive;
}

h3,
h4,
h5 {
    font-family: 'Poly', serif;
}

html {
    scroll-behavior: smooth;
}


/* ----------------Row One-------------------------- */

.first-section {
    background-image: url('../images/fn1.jpg');
    width: 100%;
    height: 550px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    background-color: rgba(0, 0, 0, .5);
    background-blend-mode: color;
}

.first-section .row {
    height: 100%;
}

.first-section-inner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
}

.abtusshowbtn .btn1 {
    background: orangered;
    color: white;
    text-align: center;
}

.btn1 .i1 {
    vertical-align: middle;
}

.btn1:hover .i1 {
    z-index: 11;
    animation: vibrate .5s infinite;
    transition: .2s linear;
}

@keyframes vibrate {
    from {
        transform: scale(0.9);
    }
    to {
        transform: scale(1.1);
    }
}


/* section two */

.two-section {
    min-height: 30vh;
    padding: 5px 0;
    background: #192231;
}

.two-section .col-12 h1,
.two-section .col-12 h4,
.two-section .col-12 p {
    width: 80%;
    margin: auto;
    padding: 20px 0;
}


/* third section */

.third-section {
    padding: 20px 0;
    background: #192231;
}

.third-section .abtimg2 img,
.fourth-section .abtimg2 img {
    height: 100% !important;
    width: 100% !important;
}

.r2c2 {
    padding: 10% 10px 0 10px;
    text-align: center;
}

.r2 {
    background: #131c29;
}

.r2c2 h4 {
    color: orangered !important;
}

.r2c8 h3 {
    color: orangered !important;
}


/* fourth */

.fourth-section {
    background: #131c29;
}


/* sixth section  */

#abtbgimg2 {
    background-image: url('../images/pubg.jpg') !important;
    background-attachment: scroll !important;
    background-size: cover;
}

#overlay2 {
    opacity: 0.2 !important;
}

.sixth-section {
    padding: 30px 0;
    padding: 10px;
    text-align: center;
}

.bgimg2caption h2 {
    color: orangered !important;
}

.r2c8 {
    padding: 30px 0;
}


/* media Queries */

@media (max-width: 768px) {
    h1 {
        font-size: 28px !important;
    }
    h2 {
        font-size: 22px !important;
    }
    h4 {
        font-size: 22px !important;
    }
}

@media (min-width: 768px) and (max-width: 1000px) {
    .abtimg2 {
        margin: 10% auto !important;
    }
}