@import "global_import.css";
h1,
h2 {
    font-family: 'Audiowide', cursive;
}

*,
body {
    margin: 0;
    padding: 0;
    font-family: 'Rokkitt', serif;
    box-sizing: border-box;
}

body {
    background-color: #192231;
}

.feedback {
    padding-top: 13%;
}

.feedback .imagebg {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-filter: blur(3px);
    filter: blur(3px);
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.feedback .form-container {
    background-color: #fff;
    box-shadow: -15px -15px 20px rgba(14, 13, 49, 0.14), 0 20px 30px 5px rgba(11, 27, 58, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}